*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Quadrinhos*/
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #dcdee1;
    background-image:url(../Img/IMG-FUNDO19.png);
}
.title
{
    width: 100%;
    height: 150px;
    background-image:url(../Img/IMG-FUNDO.png);
}
h2.title
{
    align-items: center;
    color: #ffffff;
    display: flex;
}
h2.title a
{
    font-size: 40px;
    margin-left: 5%;
    text-transform: uppercase;
}
h1
{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 70%;
    position: absolute;
    display: flex;
}
.Categoria
{
    display: flex;
}
.img_categoria{
    height: 220px;
    margin-top: auto;
    display: flex;

    padding: 10px;
}
.Categoria :hover{
    height: 330px;
    width: 450px;
    margin-top: auto;
    display: flex;
    padding: 10px;
}
.Categoria :hover>.img_categoria
{
    background-color: #007fad;
}
/* Baner*/
.Banner{
    height: 100px;
    background-image:url(../Img/IMG-FUNDO.png);
}
.Banner h2{
    padding-top: 10px;
    font-size: 72px;
    text-align: left;
    text-indent: 20px;
    color: #dcdee1;
}
/*Video*/
.container{
    margin-top: 1%;
    position: relative;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    /*Update 0004A-FIX z-index: 0; */
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-height: 250px;
}
.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

}
.small-img-row{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    
}
/** ----------Menu-------------------**/

:root {
    --cor1: #203865;
    --cor2:  #d94444;
    --cor3: #e7f1ec;
}

#menu-h ul {
    list-style-type: none;
    padding: 0;
    z-index: 1;
}

#menu-h ul {
    background-color: var(--cor1);
}

#menu-h ul li {
    display: inline;
    position: relative;
}
.btn-red
{
    background-color: #ad2a2a;
}
#menu-h ul li a {
    color: var(--cor3);
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    transition: background .3s;
    text-transform: uppercase;
    font-size: 20px;
}

#menu-h ul li a:hover {
    background-color: var(--cor2);
}

/*sub menu*/
#menu-h ul ul {
    display: none;
    left: 0;
    position: absolute;
}

#menu-h ul li:hover ul {
    display: block;
}

#menu-h ul ul {
    width: 300px
}

#menu-h ul ul li a {
    display: block;
}

/* Botão */
input[type="file"] 
{
    display: none;
}

/* Cria um botão personalizado */
.custom-file-upload 
{
text-transform: uppercase;
color: white;
width: 180px;
height: 35px;
box-sizing: border-box;
background: #c13d3e;
border: none;
border-bottom: 4px solid #86161d;
border-right: 3px solid #86161d;
font-size: 11px;
border-radius: 6px;
cursor: pointer;
transition: 0.1s;
margin-bottom: 5px;
margin-left: 10px;
padding: .6rem .9rem;
display: inline-block;
}
.custom-file-upload:hover
{
box-sizing: border-box;
background: #269eca;
border: none;
border-bottom: 4px solid #007fad;
border-right: 3px solid #007fad;
cursor: pointer;
transition: 0.1s;
margin-bottom: 5px;
display: inline-block;
}
.Videos input.green:hover
{
box-sizing: border-box;
background: #269eca;
border: none;
border-bottom: 4px solid #007fad;
border-right: 3px solid #007fad;
cursor: pointer;
transition: 0.1s;
margin-bottom: 5px;
display: inline-block;
}
/* btn2 */
.Videos button.green
{
text-transform: uppercase;
color: white;
width: 150px;
height: 35px;
box-sizing: border-box;
background: #c13d3e;
border: none;
border-bottom: 4px solid #86161d;
border-right: 3px solid #86161d;
font-size: 11px;
border-radius: 6px;
cursor: pointer;
transition: 0.1s;
margin-bottom: 5px;
margin-left: 10px;
padding: .6rem .9rem;
display: inline-block;
}
.Videos button.green:hover
{
box-sizing: border-box;
background: #269eca;
border: none;
border-bottom: 4px solid #007fad;
border-right: 3px solid #007fad;
cursor: pointer;
transition: 0.1s;
margin-bottom: 5px;
display: inline-block;
}

.TxtDate
{
width: 170px;
left: auto;
margin: 10px;
border: solid 2px #007fad;
color: #203865;
}
.InputBox
{
height: auto;
width: auto;
display: flex;
}
.TxtUrl
{
width: 550px ;
left: auto;
margin: 10px;
border: solid 2px #007fad;
color: #203865;
}
/* tabela */
table 
{
border-collapse: collapse;
font-family:Arial, Helvetica, sans-serif;
font-size: 21px;
background-color: #f2f2f2;
color: black;
width: 98%;
margin-left: 1%;
}
th 
{
background-color: #f2f2f2;
width: 25%;
}
td, th 
{
border: 2px solid rgb(117, 117, 117);
text-align: center;
}
tr:hover 
{
background-color: #203865;
color: #ffffff;
} 